@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.cdnfonts.com/css/hursttom-randolph");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&display=swap");
@import "./partials/variables";

* {
  color: $dark-grey;
}

body {
  background-image: url(../assets/img/new-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-s {
  margin-top: 130px;
}

.course-infos {
  border: 2px solid $orange;
}

//Fonts
.custom-title-mills {
  font-family: "Hursttom Randolph", sans-serif;
  color: $orange;
}

.custom-title-pf {
  font-family: "Playfair Display", serif;
}

.font-size-small {
  font-size: 1.2rem;
}

//Bg-colors
.d-blue {
  background-color: $dark-blue;
  background-image: url(../assets/img/artist-shape-color-paint-top-left.png);
  background-repeat: no-repeat;
}

.l-gray {
  background-color: $light-grey;
}

//Button
.orange-button {
  border: 0;
  background-color: $orange;
  color: white;
  border-radius: 7px;
  padding: 5px 20px;
}

a {
  text-decoration: none;
  color: $dark-grey;
}

.link-orange {
  color: $orange;
}

.link-ow {
  text-decoration: none;
  color: $dark-grey;
}

//Hovers
.orange-button:hover {
  background-color: $light-blue;
  opacity: 1;
}

a:hover {
  color: $orange;
}

.nav-dd-hover:hover {
  color: $orange;
}

//Text color

.text-orange {
  color: $orange;
}

.text-dgrey {
  color: $dark-grey;
}
