@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.cdnfonts.com/css/hursttom-randolph");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&display=swap");
@import "./partials/variables";

* {
  color: $font-overall;
}

.custom-title-mills {
  font-family: "Hursttom Randolph", sans-serif;
  color: $font-c1;
}

.custom-title-pf {
  font-family: "Playfair Display", serif;
}

.font-size-small {
  font-size: 1.2rem;
}
